---
---
<!DOCTYPE html>
<html>
<head>
  <title>SOUCCS {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <!-- <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' /> -->
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
	  <div class='col12 pad4 center' style='background: rgb(235, 235, 235);'>
		  <h1 style='font-size:100px;'><a href='{{site.baseurl}}/'>SOUCCS</a></h1>
	  </div>
	  <div class='col12 pad4 center' style='background: rgb(99, 168, 168);'>
		  <ul>
			  <li class='col4'><a href='{{site.baseurl}}/about'>ABOUT</a></li>
			  <li class='col4'><a href='{{site.baseurl}}/how-to'>HOW-TO'S</a></li>
			  <li class='col4'><a href='{{site.baseurl}}/media'>MEDIA</a></li>
		  </ul>
	  </div>
	  <div class='pad4' style='background:whitesmoke;'>
			  {{content}}
	</div>
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
